.app-container{
    display: flex;
}

.content{
    width: 100%;  
}

.sidebar{
    min-height: 800px;
}

.post-card{
    margin: 25px 50px;
    min-width: 28rem;
   
    
}

.hashtag{
    margin: 2px 3px;
}

.reactions{
    width: 100%;
    margin: 15px 0 0 0;
}

.create-post{
    width: 80%;
    margin-left: 10%;
    margin-top: 50px;
}

.sidebar-title{
    margin-right: 20%
}

.cards-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}